<head>

</head>

<body style="background-color: #ffffff;"></body>
{% extends 'base.html' %}

{% block title %} Internal of Frontend {% endblock %}

{% block content %}

    <div class="container mt-5">
        <h1 class="title-int">Where do you want to go?</h1>
        <h6 class="title-int int-space">Here you can search for a city in Veneto</h6>

            <!-- WTForms Form to get input from the user -->
            <form method="POST" action="">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.person_name.label }}
                    {{ form.person_name(class="form-control", placeholder="Enter person name") }}
                </div>
                {{ form.submit(class="btn btn-primary") }}
            </form>

            <!-- Display the result here -->
            <div id="resultContainer" class="mt-3">
                {% if result %}
                    <p>{{ result }}</p>
                {% endif %}
                {% if error_message %}
                    <p class="text-danger">{{ error_message }}</p>
                {% endif %}
            </div>
        </div>


{% endblock %}