<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rovigo</title>

    <!-- Linking Stylesheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/padova.css">
</head>

<body>
    <!-- Including navbar -->
    {% include 'navbar.html' %}
    <div class="jumbotron jumbotron-with-background" id="slideshow">
        
    <!-- City description -->
        <h1>Rovigo</h1>
    </div>

    <div class="description">
        <h2>About Rovigo</h2>
        <p>Rovigo is a picturesque town situated in the Veneto region of northeastern Italy. Steeped in history and surrounded by the fertile plains of the Po Valley, Rovigo offers a charming blend of architectural beauty, cultural heritage, and a relaxed way of life. </p>
<br>
        <h2>Must-Visit Places</h2>
        <ul>
            <li>Palazzo Roncale</li>
            <li>Cathedral of Rovigo</li>
            <li>Vittorio Emanuele II's square</li>
        </ul>
<br>
        <h2>Discover the Beauty</h2>
        <p>Rovigo's culinary scene is influenced by the bounty of its agricultural surroundings, with local dishes showcasing the flavors of fresh produce and rice, a regional specialty. The town's unhurried pace, vibrant traditions, and welcoming atmosphere make it a delightful destination for those seeking an authentic Italian experience.</p>
    </div>

</body>
</html>