<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rovigo</title>

    <!-- Linking Stylesheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/padova.css">

    <!-- Styling initial images-->
    <style>
    .jumbotron {
        background-size: cover;
        background-position: center;
        background-image: url("static/images/rovigo.jpeg"); 
        color: #fff;
        text-align: center;
        padding: 100px 20px;
        margin-bottom: 0;
        position: relative;
        overflow: hidden;
        height: 700px;
    }
    </style>
</head>

<body>
    <!-- Including navbar -->
    {% include 'navbar.html' %}
    <div class="jumbotron jumbotron-with-background" id="slideshow">
        
    <!-- City description -->
        <h1>Rovigo</h1>
    </div>

    <div class="description">
        <h2>About Rovigo</h2>
        <p>Rovigo is a picturesque town situated in the Veneto region of northeastern Italy. Steeped in history and surrounded by the fertile plains of the Po Valley, Rovigo offers a charming blend of architectural beauty, cultural heritage, and a relaxed way of life. </p>
<br>
        <h2>Must-Visit Places</h2>
        <ul>
            <li>Palazzo Roncale</li>
            <li>Cathedral of Rovigo</li>
            <li>Vittorio Emanuele II's square</li>
        </ul>
<br>
        <h2>Discover the Beauty</h2>
        <p>Rovigo's culinary scene is influenced by the bounty of its agricultural surroundings, with local dishes showcasing the flavors of fresh produce and rice, a regional specialty. The town's unhurried pace, vibrant traditions, and welcoming atmosphere make it a delightful destination for those seeking an authentic Italian experience.</p>
    </div>

    <!-- Bootstrap JavaScript  -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        var images = ['rovigo.jpeg', 'rovigo_duomo.jpeg', 'rovigo_palazzoroncale.jpeg', 'rovigo_po.jpeg']; 
        var currentIndex = 0;
    
        function changeBackground() {
            currentIndex = (currentIndex + 1) % images.length;
            var imageUrl = 'static/images/' + images[currentIndex];
            document.getElementById('slideshow').style.backgroundImage = 'url("' + imageUrl + '")';
        }
    
        // Change background every 5 seconds
        setInterval(changeBackground, 5000);
    </script>
    
    <!-- Creating Back Home button -->
   <div class="torna-home-button">
    <form action="{{ url_for('index')}}">
      <button class="torna-home" type="submit">Back to Home</button>
    </form>
   </div>

</body>
</html>