<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Treviso</title>

    <!-- Linking stylesheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/padova.css">
</head>

<body>
    <!-- Including navbar-->
    {% include 'navbar.html' %}

    <!-- Defining class for slideshow-->
    <div class="jumbotron jumbotron-with-background" id="slideshow">
        
    <!-- City description-->
        <h1>Treviso</h1>
    </div>

    <div class="description">
        <h2>About Treviso</h2>
        <p>Treviso is a charming city in the Veneto region of northeastern Italy. Known for its rich history, artistic heritage, and picturesque landscapes, Treviso offers a unique blend of medieval architecture and modern amenities. The city is traversed by canals and retains a well-preserved medieval city center with narrow cobbled streets and historic buildings.</p>
<br>
        <h2>Must-Visit Places</h2>
        <ul>
            <li>Piazza dei Signori</li>
            <li>Palazzo dei Trecento</li>
            <li>Cathedral of San Pietro</li>
            <li>Church of San Francesco</li>
        </ul>
<br>
        <h2>Discover the Beauty</h2>
        <p>In addition to its historical and cultural attractions, Treviso is a culinary destination, offering a variety of local dishes and specialties. The city's relaxed atmosphere and proximity to the Venetian lagoon make it an appealing destination for those seeking a blend of history, art, and authentic Italian experiences.</p>
    </div>

</body>
</html>