<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Venezia</title>

    <!-- Linking stylesheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/padova.css">

    <!-- Styling initial images-->
    <style>
        .jumbotron {
            background-size: cover;
            background-position: center;
            background-image: url("static/images/venezia.jpeg"); 
            color: #fff;
            text-align: center;
            padding: 100px 20px;
            margin-bottom: 0;
            position: relative;
            overflow: hidden;
            height: 700px;
        }
        </style>
</head>

<body>
    <!-- Including navbar-->
    {% include 'navbar.html' %}

    <!-- Defining class for slideshow-->
    <div class="jumbotron jumbotron-with-background" id="slideshow">
        
    <!-- City description-->
        <h1>Venice</h1>
    </div>

    <div class="description">
        <h2>About Venice</h2>
        <p>Venice is a unique and enchanting city located in northeastern Italy. Built on a network of canals and islands within the Venetian Lagoon, Venice is renowned for its picturesque waterways, historic architecture, and artistic heritage.</p>
<br>
        <h2>Must-Visit Places</h2>
        <ul>
            <li>Basilica di San Marco </li>
            <li>Doge's Palace</li>
            <li>Rialto Bridge</li>
        </ul>
<br>
        <h2>Discover the Beauty</h2>
        <p>Beyond its architectural marvels, Venice is celebrated for its cultural contributions, including art, music, and literature. The city has been a hub of artistic innovation, producing renowned figures such as Titian, Tintoretto, and Canaletto. 
            Venice's annual Carnival is a world-famous event, attracting visitors with its elaborate masks, costumes, and festive atmosphere.</p>
    </div>

</body>
</html>