<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Verona</title>

    <!-- Linking stylesheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/padova.css">
</head>

<body>
    <!-- Including navbar-->
    {% include 'navbar.html' %}

    <!-- Defining class for slideshow-->
    <div class="jumbotron jumbotron-with-background" id="slideshow">
    
    <!-- City description-->
        <h1>Verona</h1>
    </div>

    <div class="description">
        <h2>About Verona</h2>
        <p>Discover the enchanting city of Verona, where history, romance, and cultural richness converge to create an immersive experience.</p>
<br>
        <h2>Must-Visit Places</h2>
        <ul>
            <li>Arena</li>
            <li>Juliet's House</li>
            <li>Piazza delle Erbe</li>
            <li>Ponte Pietra</li>
        </ul>
<br>
        <h2>Discover the Beauty</h2>
        <p>Whether you're captivated by historical architecture, seeking a romantic getaway, or craving authentic Italian cuisine, Verona invites you to explore its timeless charm. Plan your visit and uncover the beauty of this captivating city.</p>
    </div>

</body>
</html>