<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Verona</title>

    <!-- Linking stylesheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/padova.css">

    <!-- Styling initial images-->
    <style>
        .jumbotron {
            background-size: cover;
            background-position: center;
            background-image: url("static/images/verona.jpeg"); 
            color: #fff;
            text-align: center;
            padding: 100px 20px;
            margin-bottom: 0;
            position: relative;
            overflow: hidden;
            height: 700px;
        }
        </style>
</head>

<body>
    <!-- Including navbar-->
    {% include 'navbar.html' %}

    <!-- Defining class for slideshow-->
    <div class="jumbotron jumbotron-with-background" id="slideshow">
    
    <!-- City description-->
        <h1>Verona</h1>
    </div>

    <div class="description">
        <h2>About Verona</h2>
        <p>Discover the enchanting city of Verona, where history, romance, and cultural richness converge to create an immersive experience.</p>
<br>
        <h2>Must-Visit Places</h2>
        <ul>
            <li>Arena</li>
            <li>Juliet's House</li>
            <li>Piazza delle Erbe</li>
            <li>Ponte Pietra</li>
        </ul>
<br>
        <h2>Discover the Beauty</h2>
        <p>Whether you're captivated by historical architecture, seeking a romantic getaway, or craving authentic Italian cuisine, Verona invites you to explore its timeless charm. Plan your visit and uncover the beauty of this captivating city.</p>
    </div>

    <!-- Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        var images = ['verona.jpeg', 'verona_piazzadelleerbe.jpeg', 'verona_casagiulietta.jpeg', 'verona_arena.jpeg']; 
        var currentIndex = 0;
    
        function changeBackground() {
            currentIndex = (currentIndex + 1) % images.length;
            var imageUrl = 'static/images/' + images[currentIndex];
            document.getElementById('slideshow').style.backgroundImage = 'url("' + imageUrl + '")';
        }
    
        // Change background every 5 seconds
        setInterval(changeBackground, 5000);
    </script>

    <!-- Creating Back Home button -->
   <div class="torna-home-button">
    <form action="{{ url_for('index')}}">
      <button class="torna-home" type="submit">Back to Home</button>
    </form>
   </div>

</body>
</html>