<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vicenza</title>

    <!-- Linking stylesheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/padova.css">
</head>

<body>
    <!-- Including navbar-->
    {% include 'navbar.html' %}

    <!-- Defining class for slideshow-->
    <div class="jumbotron jumbotron-with-background" id="slideshow">
     
    <!-- City description-->
        <h1>Vicenza</h1>
    </div>

    <div class="description">
        <h2>About Vicenza</h2>
        <p>Vicenza is an elegant and historic city in the Veneto region of northern Italy. Renowned for its architectural treasures, Vicenza is perhaps best known for the work of the influential Renaissance architect Andrea Palladio, whose designs have left an indelible mark on the city. </p>
<br>
        <h2>Must-Visit Places</h2>
        <ul>
            <li>Basilica Palladiana</li>
            <li>Olympic Theatre</li>
            <li>Piazza dei Signori</li>
        </ul>
<br>
        <h2>Discover the Beauty</h2>
        <p>Vicenza's historic center is a UNESCO World Heritage Site, featuring well-preserved medieval and Renaissance buildings, charming squares, and lively markets. The city's cultural heritage extends beyond Palladio, with museums such as the Civic Museum and the Pinacoteca di Palazzo Chiericati showcasing an impressive collection of art and artifacts. 
            Beyond its architectural and cultural allure, Vicenza is a thriving modern city, known for its lively atmosphere, culinary delights, and the inviting green spaces along the Retrone River. The juxtaposition of the ancient and the contemporary makes Vicenza a captivating destination for those seeking a glimpse into Italy's rich past within a vibrant present.</p>
    </div>

</body>
</html>